.team-name {
  font-weight: bold;
  font-size: 25px;
  padding-left: 10px;
  text-align: left;
}

.team-logo {
  text-align: center;
}

.team-logo img{
  width: 35px;
  height: 35px;
}

.team-index {
  font-weight: bold;
  font-size: 25px
}